.App {
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white !important;
	font-family: "Lato", sans-serif;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

.wrapper {
	z-index: 10000 !important;
	position: absolute;
	height: 100%;
	width: 100%;
}

.top-wrapper {
	z-index: 20000;
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
}

#particles canvas {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	filter: blur(0px);
	background-image: url("../src/assets/images/blurred-plants.jpg") !important;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-color: transparent;
	/* background-position: 50% 50%; */
	background-repeat: no-repeat;
}

#particlesTwo canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background-size: cover;
	background-color: transparent;
	opacity: 0.5;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.linkedInText {
	text-decoration: underline;
}
